<%include partials/header.ejs%>

<h1>Sign Up</h1>

<script>
  function setErrorMessage(id, msg){
    $(`#${id} p`).text(msg);
    if (msg){
      $(`#${id}`).show();
      return false;
    }else{
      $(`#${id}`).hide();
      return true;
    }
  }

  function validateSignup(){
    return setErrorMessage("signup-errmsg", 
      $("#pswd").val() === $("#cfrm").val() ? 
        "" : "Passwords don't match"
    );
  } 
</script>

<form action="/signup" method="POST" onsubmit='return validateSignup()'>
  Username: <br>
  <input type="text" name="username" placeholder="username" required> <br>
  Password: <br>
  <input id="pswd" type="password" name="password" placeholder="password" required> <br>
  Confirm Password: <br>
  <input id="cfrm" type="password" name="confirm" placeholder="password" required> <br>
  <input type="submit" value="Login">
</form>

<div id="signup-errmsg" class="error-message">
  <p></p>
  <button onclick="setErrorMessage('signup-errmsg', '')" 
          class="error-close-btn"/>
</div>

<script>setErrorMessage('signup-errmsg', '<%=message%>');</script>

<%include ./partials/footer.ejs%>
