.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: right;
}

.navbar .left {
  float: left;
}

.navbar li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #4CAF50;
}

.navbar li fake:hover{
  background-color: inherit
}



/* see https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_alert
 * for the error stylesheets
 */
.error-message {
  color: white;
  padding: 20px;
  background-color: #f44336;
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.error-message:empty {
  display: none
}

.error-close-btn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

@keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity : 0.5; }
  100% { opacity: 1.0; } 
}
