.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: right;
}

.navbar .left {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbarSubmit {
  font-size: 14px;
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.navbarSubmit:hover {
  background-color: #4CAF50;
  outline: none;
}

.navbar li a:hover {
  background-color: #4CAF50;
}
